<IfModule mod_rewrite.c>
	RewriteEngine On

	# Redirect ke folder public jika tidak mengakses folder public secara langsung
	RewriteCond %{REQUEST_URI} !^/public/
	RewriteRule ^(.*)$ /public/$1 [L]
</IfModule>

# Nonaktifkan Directory Listing
Options -Indexes